*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: pranshu, Arial, sans-serif;

  src: url("./fonts/Druk-Bold-Trial.otf");
}
.bg-img{
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("https://thumbs.dreamstime.com/b/white-noise-texture-static-interference-grunge-vector-background-tv-screen-no-signal-153318844.jpg");
  opacity: 0.05;
  z-index: -100;
}
.bg-color{
  z-index: -200;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(197, 95, 12) 0%, rgb(0, 0, 0) 100%);
}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}
.navbar-container{
  /* display: flex; */
  /* justify-content: center; */
  padding-top: 2vmax;
  padding-left: 5vmax;
  padding-right: 5vmax;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar{
  font-family: pranshu;
  display:flex ;
  justify-content: space-between;
  color: #D0D5FA;
  background-color: #000000;
  padding: 0 2vmax;
  /* width: 80vmax; */
  border-radius: 50px;
  font-family: Pranshu;
  backdrop-filter: blur( 4px );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 4px solid #ffffff2e;

background: #000000b3;
/* background: #00000059; */

/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 2px solid #ffffff2e;

}
.navbar-left{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-logo{
  padding-bottom: 0.5vmin;
}
.navbar-logo img{
  width: 4vmax;
}
.navbar-basketball{
  font-size: 2.5vmax;
  letter-spacing: 0.2vmax;
}
.navbar-basketball span{
  color: #eb0e19;
}
.navbar-right{
  display: flex;
  gap: 2vmin;
  font-size: 1.2vmax;
  letter-spacing: 0.2vmax;
  align-items: center;
}
.navbar-right div::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #D0D5FA; 
  transition: width 0.3s ease;
}

.navbar-right div:hover::after {
  width: 100%;
}
.faq,login,signin:hover{
  cursor: pointer;
}
.home-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-container{
  display: flex;
  justify-content: space-between;
  padding: 0 7vmax;
  height: 80vh;
}
.home-image {
  display: flex;
  align-items: center;
  

}
.home--image{
  padding: 2.5vmax;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #000000b3;
  box-shadow: 0 8px 32px 0 rgba(16, 12, 12, 0.37);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 2px solid #ffffff2e;
}
.home-image img{
  width: 35vmax;
  border-radius: 10px;
}
.home-text{
  /* width: 50%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 7vmax;
  text-align: center;
  color: rgb(172, 164, 164);
  /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
}
.button{
  text-align: center;
}
.loading{
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#listings-parent{
  padding: 2.5vmin 5vmin;
}
.hello{
  text-align: center;
  font-size: 2.5vmax;
  color: #D0D5FA;
  padding-bottom: 2.5vmin;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1vmin; */
  cursor: pointer;
  transition: all 0.2s;
  min-height: 200px;
  justify-content: space-evenly;
  
}
.card-img>img:hover{  
  transform: scale(1.04);
}
.card-img{
  width: 100%;
}
.card-img>img{
  border-radius: 10px;
  transition: all 0.2s;
  width: 60vmax;
  height: 16.561vmax;
  /* height: 29.333vmin; */

}
.card-author{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 1vmax;
}
.card-tagline-text{
  padding-top: 0.5vmax;
  font-size: 1vmax;
  font-weight: 700;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.card-social{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2vmin;
  align-items: flex-end;
}

.likes, .comments{
  display: flex;
  align-items: center;
  gap: 0.6vmin;
}
.post-button{
  z-index: 2;
  position: fixed;
  bottom: 5%;
  right: 5%;
}
.form-parent{
  flex: 1;
  display: flex;
  padding: 0 30vmax;
  flex-direction: column;
  justify-content: center;
}
.form{
  padding: 2vmax 2vmax;
  background-color: black;
  border-radius: 10px;
  color: #D0D5FA;
  display: flex;
  flex-direction: column;
  gap: 1vmax;
  align-items: center;
  background: #000000b3;
  box-shadow: 0 8px 32px 0 rgba(16, 12, 12, 0.37);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 2px solid #ffffff2e;
}
.err{
  margin-top: 0.5vmin;
  color: red;
  font-size: 1vmax;
}
.parent-edit-video{
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 3.5vmax;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.edit-video{

  padding: 3vmax 3vmax 0vmax 3vmax;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #D0D5FA;
  background: #000000b3;
  box-shadow: 0 8px 32px 0 rgba(16, 12, 12, 0.37);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 2px solid #ffffff2e;
}
.edit-images{
  width: 30vmax;height: 25vmax;
}
.edit-images img{
  width: 100%;
  height: 100%;
}
.mob-tagline{
  display: none;
}
.edit-tagline{
  padding: 0.8vmax 0 0.8vmax 0;
  /* padding-top: 1vmax;
  padding-bottom: 1vmax; */
  font-size: 1.2vmax;
  text-align: center;
  flex-direction: column;

}
.edit-buttons{
  display: flex;
  position: absolute;
  bottom: 5%;
  width: 100%;
  gap: 6vmax;
  justify-content: center;
}
@media screen and (max-width: 850px) {
  .home-container{
    flex-direction: column;
    justify-content: center;
    gap: 4vmax;
    padding: 2vmax;
  }
    .form-parent{
    padding: 0 18vmax;
  }
  .card-img>img{
    height: 11.638vh;
  }
  
}

@media screen and (max-width: 450px) {
  .navbar-container{
    padding-left: 3vmax;
    padding-right: 3vmax;
    
  }
  .navbar{
    padding: 1.5vmax 1vmax;
  }
  .navbar-right{
    font-size: 1vmax;
    /* display: none; */
  }
  .home-container{
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 4vmax; */
  }
  .faq{
    display: none;
  }
  #listings-parent{
    padding-top: 6vmax;
  }
  .home-text{
    font-size: 6vmax;
  }
  .card-img>img{
    height: 22.352vh;
  }
  .card-author{
    font-size: 1.5vmax;
  }
  .card-tagline-text{
    font-size: 1.7vmax;
    min-height: 40px;
  }
  .form-parent{
    padding: 0 5vmax;
  }
  .form{
    font-size: 1vmax;
  }
  .parent-edit-video{
    flex-direction: column;
    gap: 2vmax;
    height: 70vmax;
    justify-content: center;
    align-items: center;
    padding: 1.5vmax;
  }
  .edit-video{
    padding: 1.5vmax;
  }
  .edit-tagline{
    display: none;
  }
  .mob-tagline{
    display: block;
    color:#D0D5FA;
    text-align: center;
    font-size: 2vmax;
  }
}