*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Pranshu;
  src: url("../fonts/Druk-Bold-Trial.otf");
}
.bg-img{
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("https://thumbs.dreamstime.com/b/white-noise-texture-static-interference-grunge-vector-background-tv-screen-no-signal-153318844.jpg");
  opacity: 0.05;
}
.bg-color{
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(197, 95, 12) 0%, rgb(0, 0, 0) 100%);
}
.navbar-container{
  /* display: flex; */
  /* justify-content: center; */
  padding-top: 2vmax;
  padding-left: 5vmax;
  padding-right: 5vmax;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar{
  display:flex ;
  justify-content: space-between;
  color: #D0D5FA;
  background-color: #000000;
  padding: 0 2vmax;
  /* width: 80vmax; */
  border-radius: 50px;
  font-family: Pranshu;
  backdrop-filter: blur( 4px );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 4px solid #ffffff2e;

background: #000000b3;
/* background: #00000059; */

/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 2px solid #ffffff2e;

}
.navbar-left{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-logo{
  padding-bottom: 0.5vmin;
}
.navbar-logo img{
  width: 4vmax;
}
.navbar-basketball{
  font-size: 2.5vmax;
  letter-spacing: 0.2vmax;
}
.navbar-basketball span{
  color: #eb0e19;
}
.navbar-right{
  display: flex;
  gap: 2vmin;
  font-size: 1.2vmax;
  letter-spacing: 0.2vmax;
  align-items: center;
}
.faq,login,signin:hover{
  cursor: pointer;
}
.home-parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-container{
  display: flex;
  justify-content: space-between;
  padding: 0 7vmax;
  height: 80vh;
}
.home-image {
  display: flex;
  align-items: center;

}
.home-image img{
  width: 35vmax;
  border-radius: 10px;
}
.home-text{
  display: flex;
  align-items: center;
  font-size: 7vmax;
  text-align: center;
  color: rgb(172, 164, 164);
  /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
}
.button{
  text-align: center;
}
#listings-parent{
  padding: 5vmin 5vmin;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1vmin; */
  cursor: pointer;
  transition: all 0.2s;
}
.card-img>img:hover{  
  transform: scale(1.04);
}
.card-img{
  /* width: 30vmax; */
}
.card-img>img{
  border-radius: 10px;
  transition: all 0.2s;
  /* width: 35vmax; */

}
.card-author{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 1vmax;
}
.card-tagline-text{
  padding-top: 0.5vmax;
  font-size: 1vmax;
  font-weight: 700;
  
}
.card-social{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2vmin;
}

.likes, .comments{
  display: flex;
  align-items: center;
  gap: 0.6vmin;
}
@media screen and (max-width: 800px) {
  .home-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vmax;
  }
}
@media screen and (max-width: 450px) {
  .navbar-container{
    padding-left: 3vmax;
    padding-right: 3vmax;
  }
  #listings-parent{
    padding-top: 6vmax;
  }
  .home-text{
    font-size: 6vmax;
  }
  .card-author{
    font-size: 1.5vmax;
  }
  .card-tagline-text{
    font-size: 1.7vmax;
  }

}